body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.member-list {
  list-style-type: none;
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: 25% 25% 25%;
  padding: 50px;
  padding-top: 0px;
  align-content: flex-start;
  justify-content: center;
  min-height: 640px;
}

.member-image {
  max-height: 180px;
}

.member-view {
  min-height: 180px;
  display: flex;
  align-items: flex-start;
  background: #c3c3c3;
  background-image: linear-gradient(to bottom right, #e6e6e6, white);
  border-radius: 10px;
  box-shadow: 10px 10px 10px #80808030;
  transition: all 0.2s ease-in-out;
}

.member-list li:hover {
  box-shadow: 10px 10px 10px #56a4ce80;
  transition: all 0.2s ease-in-out;
}

.member-view-info {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.member-name {
  font-weight: bold;
}

ul {
  padding-inline-start: 0px;
}

.page-control {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

button {
  width: 50px;
  height: 50px;
  font: 30px system-ui;
  margin: 15px;
  margin-top: 0px;
  background: none;
  border: none;
  color: #a2a2a2ba;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  width: 60px;
  height: 60px;
}

button:hover {
  color: #0059ffba;
  font: 40px system-ui;
  transition: all 0.1s ease-in-out;
}

button:focus {
  outline: none;
}

.current-page-button {
  color: #4b84efba;
  cursor: auto;
}

.current-page-button:hover {
  color: #4b84efba;
  font: 30px system-ui;
}

.member-search {
  margin-left: 147px;
  width: 250px;
  height: 50px;
  border-radius: 7px;
  font: 20px system-ui;
  padding-left: 15px;
  padding-right: 15px;
  background: #a2a2a224;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 7px 7px 7px #80808030;
  border: none;
}

.member-search:focus {
  outline: none;
}
